@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    .toggle {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;

        input {
            position: relative;
            cursor: pointer;
            appearance: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-user-select: none;
            pointer-events: auto;
            height: 40px;
            min-height: 40px;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                margin: auto;
            }

            &:not(.switch) {
                width: 40px;
                min-width: 40px;
                border-radius: 50px;

                &::before {
                    border: 2px solid var(--color-base);
                }

                &:not(:checked) {
                    &::before {
                        border: 2px solid hsla(var(--color-base-h, 220) 0% 50% / var(--color-base-a, 1));
                    }
                }
            }
        }
    }
}


