.toggle {
	label {
		position: relative;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		font-weight: 400;
		line-height: 150%;
		font-size: var(--toggle-label-font-size);
		color: var(--toggle-label-font-color, Black);
		letter-spacing: .0178571429em;
		padding: .1rem .5rem 0;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		user-select: none;
		pointer-events: auto;

		span + span {
			line-height: 125%;
			font-size: var(--toggle-desc-font-size);
			color: var(--toggle-desc-font-color, Gray);
		}
	}

	input:disabled + label,
	&.toggle--disabled label {
		pointer-events: none;
		color: var(--toggle-disabled-font-color, Silver);

		span + span {
			color: var(--toggle-disabled-font-color, Silver);
		}
	}
}


