@supports(-webkit-appearance: none) or (-moz-appearance: none) {
	.toggle {
		input[type='radio'] {
			&:not(.switch) {
				&::before {
					width: 20px; height: 20px;
					border-radius: 50px;
				}

				&::after {
					width: 10px; height: 10px;
					background: var(--color-base);
					border-radius: 50px;
					transform: scale(0);
					transition: transform 90ms var(--transition-smooth);
					will-change: transform;
				}

				&:checked {
					&::after {
						transform: scale(1);
					}
				}

				&:disabled {
					&::before {
						border-color: var(--color-disabled);
					}

					&::after {
						background: var(--color-disabled);
					}

					background: transparent;
				}
			}
		}
	}
}


