@supports(-webkit-appearance: none) or (-moz-appearance: none) {
	.toggle {
		&--ripple {/* fix for iOS */
			&:focus input {
				&:checked {
					&::before {
						animation: ripple-checked 600ms var(--transition-ripple);
					}
				}

				&:not(:checked) {
					&::before {
						animation: ripple-unchecked 600ms var(--transition-ripple);
					}
				}
			}
		}

		input:focus {
			&:checked {
				&::before {
					animation: ripple-checked 600ms var(--transition-ripple);
				}
			}

			&:not(:checked) {
				&::before {
					animation: ripple-unchecked 600ms var(--transition-ripple);
				}
			}
		}
	}
}


